/**
 * People module
 */

.people-item {
  position: relative;
  margin: 0 0 4rem;
}

@media (min-width: 640px) {
  .people-item {
    display: flex;
    align-items: center;
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .people-item > * {
    margin: 0 1rem;
  }
}


/**
 * People photos
 */

.people-photo {
  flex: 1;
  order: 1;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
}


/**
 * People captions
 */

.people-caption {
  position: relative;
  flex: 2;
}

.people-link {
  font-style: italic;
}


/**
 * Carousel behavior
 */

@media (min-width: 640px) {
  .carousel .people-item {
    align-items: flex-end;
    margin: -8rem 0 0;
  }

  .carousel .people-photo {
    margin-bottom: 2.5rem;
  }

  .carousel .people-caption p {
    margin-bottom: 0;
  }

  .carousel .people-link {
    position: absolute;
    bottom: 0;
    left: 100%;
    display: block;
    width: 50%;
    margin: 0 0 0 2rem;
  }
}
