/**
 * People module
 */

.people-item {
  margin: 0 0 4rem;
}

@media (min-width: 640px) {
  .people-item {
    display: flex;
    align-items: center;
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .people-item > * {
    margin: 0 1rem;
  }
}


/**
 * People photos
 */

.people-photo {
  flex: 1;
  order: 1;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
}


/**
 * People captions
 */

.people-caption {
  flex: 2;
}

.people-link {
  font-style: italic;
}
