/**
 * Sections
 */

.section {
  position: relative;
  margin: 0 0 8rem;
}


/**
 * Section Headers
 */

.section-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 0 4rem;
  min-height: 50vh;
  background: #212121 no-repeat center;
  background-size: cover;
  color: #fff;
}


/* Overlay gradient under the text */

.section-header::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0,0,0,.5) 0, transparent 100%);
}


/* Make all headings in .section-header above overlay */

.section-header h1,
.section-header h2,
.section-header h3 {
  position: relative;
  margin: 0;
  padding: 2rem 0;
  max-width: 32rem;
}


/**
 * Article header
 */

.article-header {
  min-height: 100vh;
}


/**
 * Article footer
 */

.article-footer {
  padding: 2rem 0;
  background: #212121;
  color: #fff;
}

.article-footer p {
  margin-bottom: 0;
}
